[submodule "GoRogue"]
	path = GoRogue
	url = https://github.com/Chris3606/GoRogue.git
  branch = v3.0.0-beta08
[submodule "TheSadRogue.Integration"]
	path = TheSadRogue.Integration
	url = https://github.com/AtelierAmber/TheSadRogue.Integration.git
  branch = update-v10
[submodule "SadConsole"]
	path = SadConsole
	url = https://github.com/Thraka/SadConsole.git
